[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ENV}}.zsdevops01.online
Environment=MONGO_URL="mongodb://mongodb-{{ENV}}.zsdevops01.online:27017/users"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target
