filebeat.inputs:
{% for log_filename in LOG_FILES %}
- type: log
{% if IS_STRUCTURED %}
  json.keys_under_root: true
{% endif %}
  enabled: true
  paths:
    - {{ log_filename.file }}
  fields:
    logType: {{ log_filename.type }}
{% endfor %}

{% if IS_STRUCTURED %}
output.elasticsearch:
  hosts: ["172.31.22.45:9200"]
{% else %}
output.logstash:
  hosts: ["172.31.22.45:5044"]
{% endif %}


## These always are defaults
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

### json.keys_under_root: true , Need to enabled
